*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.btn{
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.formContainer{
    background-color: wheat;
    border: 2px solid black;
    padding: 1rem;
}
h1{
    text-align: center;
}
.form label{
    display: inline-block;
    width: 100px;
}

.form input, .form select{
    display: inline-block;
    width: 200px;
}
.displayToDo{
    margin-top: 2rem;
    background-color: rgb(132, 94, 36);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 400px;
}
.none{
    display: none;
}
.divSpacing{
    margin-bottom: 1.5rem;
    padding: 1rem;
}
.displayToDo h2{
    color: rgb(86, 207, 207);
}
.displayToDo button{
    margin-left: 2rem;
    background-color: red;
}
.critical{
    background-color: rgb(152, 31, 31);
}
.medium{
    background-color: orange;
}
.low{
    background-color: greenyellow;
}